@font-face {
   font-family: "Montserrat-SemiBold";
   src: url("../fonts/Montserrat-SemiBold.ttf");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Montserrat-Regular";
   src: url("../fonts/Montserrat-Regular.ttf");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Montserrat-Medium";
   src: url("../fonts/Montserrat-Medium.ttf");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}

.investments {
   background: #D9D9D9;
   padding: 116px calc(50% - 710px);
}

.investments-wrap {
   width: 100%;
   display: grid;
   gap: 20px 20px;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, auto);
}

.investments-wrap> :nth-child(6),
.investments-wrap> :nth-child(7),
.investments-wrap> :nth-child(10) {
   margin-top: 50px;

}

#first-text-block {
   grid-column: 1/3;
   grid-row: 1/3;
   margin-right: 120px;
}

#second-text-block {
   grid-column: 3/5;
   grid-row: 3/5;
   margin-left: 120px;
}

.investments-information__title {
   font: 24px/100% "Montserrat-SemiBold", sans-serif;
   letter-spacing: 0;
   color: #0A2730;
   text-transform: uppercase;
}

.investments-information__text {
   margin-top: 20px;
   font: 20px/100% "Montserrat-Regular", sans-serif;
   letter-spacing: 0;
   color: #0A2730;
}

.investments__key {
   background: #0083FF;
   padding: 20px 40px;
   border-radius: 12px;
}

.investments-key__title {
   font: 48px/100% "Montserrat-Medium", sans-serif;
   letter-spacing: 0;
   color: #FFFFFF;
}

.investments-key__text {
   margin-top: 12px;
   font: 20px/100% "Montserrat-Regular", sans-serif;
   letter-spacing: 0;
   color: #FFFFFF;
}

.investments-key__title-add {
   font: 20px/100% "Montserrat-Medium", sans-serif;
   letter-spacing: 0;
   color: #FFFFFF;
}

.investments__advantages {
   border: 1px solid #0083FF;
   border-radius: 12px;
   padding: 40px 40px;

   &:nth-child(4) {
      padding-right: 24.86px;
   }

   >img {
      width: 40px;
   }
}

.investments-advantages__title {
   display: block;
   margin-top: 20px;
   font: 24px/100% "Montserrat-SemiBold", sans-serif;
   letter-spacing: 0;
   color: #0083FF;
   text-transform: uppercase;
}