@font-face {
   font-family: "OpenSans-bold";
   src: url("../fonts/OpenSans-Bold.ttf");
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "OpenSans";
   src: url("../fonts/OpenSans-Regular.ttf");
   font-style: normal;
   font-display: swap;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}