@font-face {
   font-family: "OpenSans-SemiBold";
   src: url("../fonts/OpenSans-SemiBold.ttf");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "OpenSans-Bold";
   src: url("../fonts/OpenSans-Bold.ttf");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "OpenSans-Regular";
   src: url("../fonts/OpenSans-Regular.ttf");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Raleway-Regular";
   src: url("../fonts/Raleway-Regular.ttf");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Raleway-Medium";
   src: url("../fonts/Raleway-Medium.ttf");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

.site-header {
   padding: 0px calc(50% - 620px);
   background: #000000;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 606px;
}

.site-header__img {
   width: 86.8px;
}

.menu__list {
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.menu-list__el {
   display: inline-block;
   padding: 28px 27px;
   font: 14px/100% "OpenSans-SemiBold", sans-serif;
   letter-spacing: 0;
   color: #FFFFFF;
   transition: all 0.3s linear;

   &:hover {
      background: #EC7979;
      font: 13px/100% "OpenSans-Bold", sans-serif;
      text-transform: uppercase;
   }

   &:active {
      background: #AB4949;

   }

}