@media (max-width: 828px) {

   .site-header__wrap {
      max-width: 570px;
      padding: 17px 0;
   }

   .site-header__menu {
      position: fixed;
      z-index: 5;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      background: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: .3s ease-in;

      &.open {
         width: 100%;
         height: 500px;
      }
   }

   .menu__list {
      flex-direction: column;
      width: 100%;
   }

   .menu-list__el {
      padding: 28px 0;
      width: 100vw;
      text-align: center;
   }

   .menu-btn {
      display: flex;
      position: relative;
      z-index: 15;
   }

   .banner__wrap {
      flex-direction: column;
      align-items: center;
      max-width: 454px;
      margin: 0 auto;
   }

   .banner__information {
      text-align: center;
   }

   .information__title::before {
      left: 50%;
      transform: translateX(-50%);
   }

   .information__btn {
      width: 300px;
      height: 58px;
   }

   .banner__login {
      margin-top: 56px;
      max-width: 398px;
      width: 100%;
   }

   .social__wrap {
      max-width: 570px;
      flex-direction: column;
      align-items: center;
   }

   .social__info {
      text-align: center;
   }

   .social__link-wrap {
      margin-top: 20px;
   }

   .social__img {
      width: 50px;
   }

   .tabs__wrap {
      max-width: 570px;
   }

   .tab-btn {
      padding: 10px 25px;
   }

   .tab-btn.active {
      border-bottom: 3px solid #FFFFFF;
   }

   .tab-content__img {
      display: none;
   }

   .tab-content__wrap {
      padding: 38px 23px;
      text-align: center;
   }

   .tab-content__text {
      margin-top: 43px;
   }

   .tab-content__text-2 {
      margin-top: 26px;
   }

   .tab-content__btn {
      padding: 16px;
      margin-top: 38px;
      height: 50px;
   }

   .about {
      padding-top: 50px;
   }

   .about__cards {
      gap: 10px;
   }

   .about-cards__card {
      max-width: 250px;
   }

   .card__img {
      width: 70px;
   }

   .pricing__cards {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
   }

   .reviews__card {
      max-width: 370px;
      margin: 0 auto;
      width: 100%;

   }

   .reviews {
      position: relative;
   }

   .swiper-pagination {
      position: static;
      margin-top: 23px;
      display: flex;
      justify-content: center;
      gap: 50px;
   }

   .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border: 1px solid #86878B;
      border-radius: 50%;
      background: transparent;
      opacity: 1;
   }

   .swiper-pagination-bullet-active {
      background: #86878B;
   }
}