@font-face {
   font-family: "NunitoSans";
   src: url("../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
   font-style: normal;
   font-display: swap;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}

li {
   list-style: none;
}

.footer {
   background: #222222;

}

.footer__wrap {
   padding: clamp(40px, 6vw, 80px) 0 0;
   max-width: 1320px;
   margin: 0 auto;

}

.footer__company-name {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: clamp(24px, 10vw, 182px);
   position: relative;

}

.footer__company-name::before {
   content: "";
   width: 100%;
   height: 1px;
   background: #8C8C8C;
   left: 0;
   right: 0;
   top: clamp(86px, 8vw, 110px);
   position: absolute;

}

.company-name {
   display: flex;
   flex-direction: column;
}

.company-name__title-first {
   font: 900 28px/150% "NunitoSans", sans-serif;
   letter-spacing: 0;
   color: #4F8FF0;
   text-transform: uppercase;
}

.company-name__title-second {
   font: 900 20px/150% "NunitoSans", sans-serif;
   letter-spacing: 0;
   color: #FFFFFF;
   text-transform: lowercase;
}

.company-name__text {
   font: 400 16px/120% "NunitoSans", sans-serif;
   letter-spacing: 0;
   color: #F8F5F4;
   text-transform: lowercase;
}