@font-face {
   font-family: "Roboto";
   src: url("../fonts/Roboto-Regular.ttf");
   font-style: normal;
   font-display: swap;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}

li {
   list-style: none;
}