@font-face {
   font-family: "Fraunces";
   src: url("../fonts/Fraunces_72pt-Regular.ttf");
   font-style: normal;
   font-display: swap;
   font-weight: 400;
}

@font-face {
   font-family: "Inter";
   src: url("../fonts/Inter_28pt-Regular.ttf");
   font-style: normal;
   font-display: swap;
   font-weight: 400;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}

a {
   text-decoration: none;
}

.blog-page {
   background: #F7F9FA;
   padding: 80px 155px;
}

.blog-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1130px;
}

.blog-header__title {
   font: 42px/50.4px "Fraunces", serif;
   letter-spacing: 0.2px;
   color: #1F1F1F;
}

.blog-header__link {
   display: inline-block;
   padding: 8px 32px;
   font: 17px/27px "Inter", sans-serif;
   letter-spacing: 0.2px;
   color: #0070A0;
}

.posts {
   margin-top: 50.36px;
   display: flex;
   gap: 32px;
   justify-content: space-between;
   max-width: 1130px;
}

.post {
   background: #FFFFFF;
}

.post-content {
   max-width: 355.33px;
   padding: 25.02px 30.6px 27px 24px;
}

.post-content__tag {
   display: inline-block;
   align-items: center;
   font: 12px/16px "Inter", sans-serif;
   letter-spacing: 0.4px;
   color: #2C90C9;
   background: #E6F7FF;
   padding: 2px 12px 4px;

   &:nth-child(1) {
      padding: 2px 18px 4px 19px;
   }
}

.post-content__title {
   margin-top: 8px;
   font: 25px/31.25px "Fraunces", serif;
   letter-spacing: 0.2px;
   color: #1F1F1F;
}

.post-content__text {
   margin-top: 11px;
   font: 14px/19.6px "Inter", sans-serif;
   letter-spacing: 0.2px;
   color: #1F1F1F;
   max-width: 290px;
   text-align: justify;
}

.post-content__date {
   display: inline-block;
   margin-top: 16px;
   font: 12px/19.6px "Inter", sans-serif;
   letter-spacing: 0.2px;
   color: #1F1F1F;
}