@font-face {
   font-family: "Fraunces";
   src: url("../fonts/Fraunces_72pt-Regular.ttf");
   font-style: normal;
   font-display: swap;
   font-weight: 400;
}

@font-face {
   font-family: "Inter";
   src: url("../fonts/Inter_28pt-Regular.ttf");
   font-style: normal;
   font-display: swap;
   font-weight: 400;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}

a {
   text-decoration: none;
}