@font-face {
   font-family: "Montserrat-Medium";
   src: url("../fonts/Montserrat-Medium.ttf");
   font-style: normal;
   font-display: swap;
   font-weight: 500;
}

@font-face {
   font-family: "Montserrat-Bold";
   src: url("../fonts/Montserrat-Bold.ttf");
   font-style: normal;
   font-display: swap;
   font-weight: 700;
}

@font-face {
   font-family: "Montserrat-SemiBold";
   src: url("../fonts/Montserrat-SemiBold.ttf");
   font-style: normal;
   font-display: swap;
   font-weight: 600;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}

.user-form {
   background: #F1F0ED;
   padding: 46px calc(50% - 310px) 48px;
   position: relative;
}

.close {
   position: absolute;
   cursor: pointer;
   top: 22px;
   right: 20px;
}

.user-form__wrap {
   max-width: 620px;

}

.user-form__title {
   font: 30px/100% "Montserrat-Bold", sans-serif;
   letter-spacing: 0;
   color: #000000;
}

.user-info-form {
   margin-top: 43px;

}

.form-field {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;

}

.form-field input {
   height: 41px;
   background: #F1F0ED;
   border-bottom: 1px solid #DAD6CE;
   font-size: 17px;
}

.form-field__title {
   font: 17px/100% "Montserrat-Medium", sans-serif;
   letter-spacing: 0;
   color: #000000;
}

.send {
   display: flex;
   justify-content: space-between;
   gap: 50px;
   position: relative;
}

.checkbox-field {
   max-width: 330px;
   display: flex;
   gap: 10px;
}

.checkbox-field__title {
   font: 17px/24px "Montserrat-SemiBold", sans-serif;
   letter-spacing: -1%;
   color: #000000;
   border-bottom: 1px solid #EDBEAE;
   display: inline-block;
}

.submit-btn {
   width: 249px;
   height: 49px;
   font: 14px/100% "Montserrat-Bold", sans-serif;
   letter-spacing: 0%;
   color: #E5481D;
   cursor: pointer;

}

.border {
   position: absolute;
   left: 372px;
   pointer-events: none;
}

.checkbox-field input {
   display: none;
}

.checkbox-field__box {
   position: relative;
   cursor: pointer;
}

.check-mark {
   position: absolute;
   left: 5px;
   top: -6px;
   opacity: 0;
   transition: opacity 0.2s ease;
}

.checkbox-field input:checked+.checkbox-field__box .check-mark {
   opacity: 1;
}