@font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Medium.ttf");
   font-style: normal;
   font-display: swap;
   font-weight: 500;
}

@font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Bold.ttf");
   font-style: normal;
   font-display: swap;
   font-weight: 700;
}

@font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-SemiBold.ttf");
   font-style: normal;
   font-display: swap;
   font-weight: 600;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
}